<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yundingshuyuan.recruit.dao.InterviewRecordMapper">
    <select id="isExistByUserId" resultType="com.yundingshuyuan.recruit.domain.vo.InterviewRecordVo">
        SELECT *
        FROM interview_record
        WHERE user_id = #{userId}
    </select>

    <update id="updateRecord" parameterType="com.yundingshuyuan.recruit.domain.vo.InterviewRecordVo">
        UPDATE interview_record
        SET user_id = #{userId},
            faceback = #{faceback},
            user_name = #{userName},
            score = #{score},
            group_id = #{group_id}
        WHERE user_id = #{userId}
    </update>

</mapper>
