<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yundingshuyuan.recruit.dao.LectureMapper">

    <select id="theLeast" resultType="com.yundingshuyuan.recruit.domain.vo.LectureVo">
        SELECT *
        FROM lecture
        ORDER BY lecture_id DESC
        LIMIT 1
    </select>

    <select id="lectureById" resultType="com.yundingshuyuan.recruit.domain.vo.LectureVo">
        SELECT *
        FROM lecture
        WHERE lecture_id = #{lectureId}
    </select>

    <select id="allLecture" resultType="com.yundingshuyuan.recruit.domain.vo.LectureVo">
        SELECT *
        FROM lecture
    </select>

</mapper>
