<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yundingshuyuan.recruit.dao.QrCodeCheckInMapper">

    <resultMap id="LectureCheckInPo" type="com.yundingshuyuan.recruit.domain.po.LectureCheckInPo">
        <id column="user_id" property="userId"/>
        <result column="lecture_Id" property="lectureId"/>
    </resultMap>

    <select id="selectTicketByOpenId" resultMap="LectureCheckInPo">
        SELECT ui.id AS user_id, lt.lecture_id
        FROM user_info ui
                 JOIN lecture_ticket lt ON ui.id = lt.user_id
        WHERE ui.cloud_id = #{openId};
    </select>

    <select id="selectTicketByUserAndLectureId" resultType="long">
        SELECT COUNT(*) AS count
        FROM lecture_ticket
        WHERE user_id = #{userId}
          AND lecture_id = #{lectureId}
          AND deleted = 0;
    </select>

    <select id="selectIfLecturedByUserId" resultType="boolean">
        SELECT is_lectured
        FROM user_info
        WHERE id = #{userId}
          AND deleted = 0;
    </select>

    <update id="updateIsLectureByUserId">
        UPDATE user_info
        SET is_lectured = 1,
            update_time = CURRENT_TIMESTAMP(0)
        WHERE id = #{userId}
          AND deleted = 0
          AND is_lectured = 0;
    </update>

    <delete id="deleteTicketByUserAndLectureId">
        UPDATE lecture_ticket
        SET deleted     = 1,
            update_time = CURRENT_TIMESTAMP(0)
        WHERE user_id = #{userId}
          AND lecture_id = #{lectureId}
          AND deleted = 0;
    </delete>

</mapper>